[Service]
Restart=always
StandardOutput=journal
StandardError=journal
SyslogIdentifier=neptune
ExecStart=%h/.cargo/bin/neptune

[Install]
WantedBy=graphical-session.target