[Service]
Restart=always
StandardOutput=journal
StandardError=journal
SyslogIdentifier=neptune
Environment="NEPTUNE_LOG=debug"
ExecStart=%h/.cargo/bin/neptune daemon

[Install]
WantedBy=graphical-session.target