[Service]
ExecStart=/home/yummi/.cargo/bin/neptune
Restart=always
StandardOutput=journal
StandardError=journal
SyslogIdentifier=neptune


[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
WantedBy=graphical-session.target